/* styles for custom fields/metaboxes in admin interface */

br.cb{clear:both;float:none;display:block;}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.customField{margin:0 0 20px 0;}
.customField label,
.customField input[type=text],
.customField textarea{display:block;width:100%;}
.customField label{margin-bottom:4px;}
.longtext,
.mediumtext,
.shorttext{display:block;}
.longtext input{width:100%;}
.mediumtext input{width:50%;}
.imageThumbnail{display:block;width:256px;}
a.action{text-decoration:none;display:block;margin:4px 0;}
a.action:hover{}
a.action:before {
   content: "> ";
}
.checkbox input,
.checkbox label{display:inline-block;width:auto;}

.splitFieldWrapper{width:80%;}
.splitField{
	display:inline-block;
	width:50%;
	float:left;
	box-sizing: border-box;
	padding-right:10px;
}
.splitField input[type=text]{
	width:100%;
}

.multiFieldBox{
	padding:10px;
	margin:0 0 10px 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.multiFieldWrapper p.head,
.itemSorter p.head{font-weight:bold;font-size:1.3em;}

.listPortrait{width:100px;height:auto;}
.listOfficeMap{width:100%;height:auto;}

/* admin 'office' list view column width */
.column-office_map{width:120px;}
.column-office_address{width:120px;}
.column-office_email{width:25%;}
.column-office_phone{width:15%;}

/* admin 'award' list view column width */
.column-award_image{width:80px;}
.column-award_image img{width:100%;height:auto};
.column-award_year{width:80px;}
.column-award_award{}
.column-award_catgeory{}

.businessMeta{}
.businessProduct1Meta{}
.businessProduct2Meta{}

.individualMeta{}
.individualProduct1Meta{}
.individualProduct2Meta{}

p.imagepath{display:none;}

.itemSorter{}
.itemSorter ul{
	list-style-type:none;
	padding:10px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	width:100%;
	margin:0 0 10px 0;
	box-sizing: border-box;
}
.itemSorter ul li{
	padding:10px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	width:100%;
	margin:0 0 10px 0;
	box-sizing: border-box;
	background-color:#fff;
}
.itemSorter ul > li.dummy.hidden{
	display:none;
}

.ui-sortable-helper{cursor:move;}
.officeSorter{}
.officeSorter .map{float:left;width:100px;margin-right:10px;}
.officeSorter .map img{width:100%;height:auto;}
.officeSorter h3{margin:0;padding:0;}

.teamleaderSorter{}
.teamleaderSorter .portrait{float:left;width:100px;margin-right:10px;}
.teamleaderSorter .portrait img{width:100%;height:auto;}
.teamleaderSorter h3,
.teamleaderSorter h4,
.teamleaderSorter h5{margin:0;padding:0;}

.awardSorter{}
.awardSorter .pic{float:left;width:100px;margin-right:10px;}
.awardSorter .pic img{width:100%;height:auto;}

.multiImages{}
.multiImage{
    float:left;
    width:300px;
}
.vpWrapper{
    overflow:hidden;
    background-color:#c2c2c2;
    background-color:#f00;
    position:relative;
    width:50%;

    padding-bottom:40%;
    padding-bottom:28%;
}
.vpWrapper img{
    width:100%;
    height:auto;
    display:block;
    opacity:0;
    display:none;
}
.vpWrapper video,
.vpWrapperFull video{
    width:100%;
    height:auto;
    display:block;
}
.vpWrapper video{
    position:absolute;
    left:0;
    top:50%;
    margin-top:-25%;
}
.vpWrapperFull{
    width:33.3%;
    position:relative;
    overflow:hidden;
}
.vpWrapperFull video{}
.videoIcons{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    width:64px;
    height:64px;
    padding:25px;
    display:block;
    background-color:#fff;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-57px;
    margin-top:-57px;
    z-index:100;
    opacity:0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}
.videoIcons div{
    background-image: url('img/video_play_icons_64px.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width:64px;
    height:64px;
    text-indent:-9999em;
    overflow:none;
    display:block;
}
.pause div{
    background-position: 0px -128px;
}
.vpWrapper:hover .videoIcons,
.vpWrapperFull:hover .videoIcons{
    opacity:0.75;
}
.vpWrapper:hover .videoIcons div,.vpWrapperFull:hover .videoIcons div{}
.vpWrapper:hover .pause div,.vpWrapperFull:hover .pause div{}
.controlLayer{
    position:absolute;
    left:0px;
    top:0px;
    z-index:1000;
    width:100%;
    height:100%;
    background-color:#ff0000;
    opacity:0;
    cursor:pointer;
}
.timeline{
    position:absolute;
    left:0px;
    z-index:900;
    background-color:rgba(255,255,255,0.75);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    padding:0 64px;
    width:100%;
    height:32px;
    -webkit-transition: bottom 0.3s ease, opacity 0.3s ease;
    -moz-transition: bottom 0.3s ease, opacity 0.3s ease;
    -ms-transition: bottom 0.3s ease, opacity 0.3s ease;
    -o-transition: bottom 0.3s ease, opacity 0.3s ease;
    transition: bottom 0.3s ease, opacity 0.3s ease;
    opacity:0;
    bottom:-32px;
}
.vpWrapperFull:hover .timeline{
    opacity:1;
    bottom:0px;
}
.timeline .outer{
    position:relative;
    margin-top:12px;
}
.timeline .track{
    position:absolute;
    left:0px;
    top:0px;
    z-index:0;
    width:100%;
    height:8px;
    background-color:#7f7f7f;
}
.timeline .inner{
    position:absolute;
    left:0px;
    top:0px;
    z-index:1;
    height:8px;
    width:0;
    background-color:#000;
    /*
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    */
}
.timeline .marker{
    position:absolute;
    left:0px;
    top:0px;
    z-index:2;
    width:8px;
    height:8px;
    /*
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    */
    border:4px solid #fff;
    background-color:#ff0000;
    margin-left:-4px;
    margin-top:-4px;
}
.timeline p{
    position:absolute;
    top:6px;
    z-index:1;
    margin:0;
}
.timeline p.total{
    right:8px;
}
.timeline p.elapsed{
    left:8px;
}

