	.seniorteam .people{
		width:100%;
	}
	.seniorteam .person{
		width:100%;
		float:none;
		clear:both;
	}

	.seniorteam .interior:after{
		width:100%;
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
     }
	.seniorteam .interior { display: inline-block; }
	/* start commented backslash hack \*/
	* html .seniorteam .interior { height: 1%; }
	.seniorteam .interior { display: block; }
	/* close commented backslash hack */

	.seniorteam .person .clipper{
		display:inline-block;
		float:left;
		width:40%;
	}
	.seniorteam .person .clipper img{}
	.seniorteam .person .text{
		display:inline-block;
		float:left;
		width:60%;
		padding:18px;
		height:inherit;
	}
