/*
Theme Name: stackbartlett
Theme URI: -
Author: -
Author URI: -
Description: -
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: -
Text Domain: stackbartlett

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/**
 * 1.0 - Reset
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine
 * work of Eric Meyer, Nicolas Gallagher, Jonathan Neal, and Blueprint.
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #f1f1f1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

fieldset {
	min-width: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}

a:focus {
	outline: 2px solid #c1c1c1;
	outline: 2px solid rgba(51, 51, 51, 0.3);
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}
.skip-link{height:0;overflow:hidden;display:block;}
br.cb{clear:both;}
.pageHeader header h1{display:none;}
h2,h2{margin:0;}

/* fonts:
Poppins[
	300 light,
	400 regular,
	500 medium,
	600 semi bold,
	700 bold
] (google) */
.poppins{font-family:"Poppins", arial;}
.poppins300,
.poppinsLight{font-weight:300;}
.poppins400,
.poppongRegular{font-weight:400;}
.poppins500,
.poppingMedium{font-weight:500;}
.poppins600,
.poppinSemiBold{font-weight:600;}
.poppins700,
.poppinBold{font-weight:700;}

body{font-family:"Poppins", arial;color:#1c1d22;}
.centred{text-align:center;}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
 
.shadow{box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}

/* colours */
.white {color:#ffffff;}
.whitebg{background-color:#ffffff;}
.grey{color:#f7f7f7;}
.greybg{background-color:#f7f7f7;}
.lozengeButton.whiteButton{color:#ffffff;border-color:#ffffff;}

.individual01{color:#0b7cb1;}
.bgindividual01{background-color:#0b7cb1;}
.individual02{color:#109dcb;}
.bgindividual02{background-color:#109dcb;}
.individual03{color:#1c1d22;}
.bgindividual03{background-color:#1c1d22;}
.individual04{color:#bfdee1;}
.bgindividual04{background-color:#bfdee1;}
.individual05{color:#e0e0e0;}
.bgindividual05{background-color:#e0e0e0;}
.individual06{color:#f7f7f7;}
.bgindividual06{background-color:#f7f7f7;}
.individual07{color:#ffffff;}
.bgindividual07{background-color:#ffffff;}
.individual08{color:#141618;}
.bgindividual08{background-color:#141618;}
.individual09{color:#303133;}
.bgindividual09{background-color:#303133;}

.lozengeButton.buttonindividual01{color:#0b7cb1;border-color:#0b7cb1;}
.lozengeButton.buttonindividual02{color:#109dcb;border-color:#109dcb;}
.lozengeButton.buttonindividual03{color:#1c1d22;border-color:#1c1d22;}
.lozengeButton.buttonindividual04{color:#bfdee1;border-color:#bfdee1;}
.lozengeButton.buttonindividual05{color:#e0e0e0;border-color:#e0e0e0;}
.lozengeButton.buttonindividual06{color:#f7f7f7;border-color:#f7f7f7;}
.lozengeButton.buttonindividual07{color:#ffffff;border-color:#ffffff;}
.lozengeButton.buttonindividual08{color:#141618;border-color:#141618;}
.lozengeButton.buttonindividual09{color:#303133;border-color:#303133;}

.business01{color:#544595;}
.bgbusiness01{background-color:#544595;}
.business02{color:#1c1d22;}
.bgbusiness02{background-color:#1c1d22;}
.business03{color:#c9d1e6;}
.bgbusiness03{background-color:#c9d1e6;}
.business04{color:#e0e0e0;}
.bgbusiness04{background-color:#e0e0e0;}
.business05{color:#f7f7f7;}
.bgbusiness05{background-color:#f7f7f7;}
.business06{color:#ffffff;}
.bgbusiness06{background-color:#ffffff;}
.business07{color:#141618;}
.bgbusiness07{background-color:#141618;}
.business08{color:#303133;}
.bgbusiness09{background-color:#303133;}

.lozengeButton.buttonbusiness01{color:#544595;border-color:#544595;}
.lozengeButton.buttonbusiness02{color:#1c1d22;border-color:#1c1d22;}
.lozengeButton.buttonbusiness03{color:#c9d1e6;border-color:#c9d1e6;}
.lozengeButton.buttonbusiness04{color:#e0e0e0;border-color:#e0e0e0;}
.lozengeButton.buttonbusiness05{color:#f7f7f7;border-color:#f7f7f7;}
.lozengeButton.buttonbusiness06{color:#ffffff;border-color:#ffffff;}
.lozengeButton.buttonbusiness07{color:#141618;border-color:#141618;}
.lozengeButton.buttonbusiness08{color:#303133;border-color:#303133;}

/* page layout */
.fullWidth{width:100%;}
.fullWidth .clip{position:relative;width:100%;}
.fullWidth .clip img{display:block;width:100%;height:auto;}
.parallax{background-attachment:fixed;background-size:cover;height:510px;background-position:top center;}
.parallax .clip{display:none;}

#page{
	overflow:hidden;
	opacity:1;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
#page.waitForFontsToLoad{opacity:0;}

hr{
	height:2px;
	width:100px;
	border:0;
	padding:0;
	margin:20px auto 40px auto;
}
hr.full{height:1px;width:80%;width:946px;margin:20px auto;background-color:#b7b7b7;}
@media screen and (max-width: 1180px) {
	hr.full{width:80%;}
}
.site{
	width:100%;
}
.module{
	width:100%;
	position:relative;
	left:0px;
	top:0px;
	z-index:4;
	background-color:#fff;
	overflow:hidden;
}
.singleColumn,
.doubleColumn{
	width:100%;
	max-width:922px;
	padding-top:60px;
	padding-bottom:60px;
	margin:0 auto;
}
.singleColumn{
	box-sizing:border-box;
	padding-left:14px;
	padding-right:14px;
}
.doubleColumn .column{
	width:50%;
	display:inline-block;
	float:left;
	box-sizing:border-box;
	padding:0 14px;
}
@media screen and (max-width: 768px) {
	.singleColumn{
		padding-left:64px;
		padding-right:64px;
	}
	.doubleColumn{
		padding-left:0px;
		padding-right:0px;
	}
	.doubleColumn .column{
		width:100%;
		display:block;
		float:none;
		padding-left:64px;
		padding-right:64px;
	}
}
@media screen and (max-width: 480px) {
	.singleColumn{
		padding-left:32px;
		padding-right:32px;
	}
	.doubleColumn .column{
		width:100%;
		display:block;
		float:none;
		padding-left:32px;
		padding-right:32px;
	}
}
.module.greybg{background-color:#f7f7f7;}
.rule{
	width:1150px;
	margin:0 auto;
}
.rule hr{
	width:100%;
	background-color:#000;
}

.flexboxContainer{
	width:100%;
	max-width:922px;
	margin:0 auto 0px auto;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-js-display: flex;
}
.flexboxItem{
	width:50%;
	margin:0 14px;
	display:inline-block;
	float:left;
	box-sizing: border-box;
	padding:50px;
	flex: 1;
}
@media screen and (max-width: 768px) {
	.flexboxContainer{
		width:100%;
		display: block;
		margin-bottom:0;
	}
	.flexboxItem{
		width:80%;
		float:none;
		display: block;
		margin:0 auto 20px auto;
		padding:25px;
	}
}


/* buttons */

.buttonBox{
	width:100%;
	text-align:center;
}
.nuButton{
	border-radius:24px;
	border-width:1px;
	border-style:solid;
	display:inline-block;
	font-size:14px;
	text-decoration:none;
	padding:0 15px 0 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

	background-color:#fff;	
	border-color:#109dcb;
	color:#109dcb;
	font-weight:600;
	outline:none;
}
.nuButton .caret{display:table-cell;min-height:46px;vertical-align:middle;padding:10px 20px 10px 20px ;	background-position:right 50%;background-repeat:no-repeat;background-image:url('img/caret_individual.png');}
.nuButton .a{display:inline-block;}
.nuButton .b{white-space: nowrap;display:inline-block;}
.nuButton:hover{color:#fff;background-color:#109dcb;}
.nuButton:hover .caret{background-image:url('img/caret_white.png');}

.individual .nuButton{border-color:#109dcb;background-color:#fff;}
.individual .nuButton .caret{background-image:url('img/caret_individual.png');}
.individual .nuButton:hover{color:#fff;background-color:#109dcb;}
.individual .nuButton:hover .caret{background-image:url('img/caret_white.png');}

.business .nuButton{border-color:#544595;background-color:#ffffff;color:#544595;}
.business .nuButton .caret{background-image:url('img/caret_business.png');}
.business .nuButton:hover{color:#fff;background-color:#544595;}
.business .nuButton:hover .caret{background-image:url('img/caret_white.png');}

/* page header */
.pageHeader{
	position:relative;
}
.pageHeader header{
	position:absolute;
	left:50%;
	top:0px;
	z-index:50;
	width:100%;
	max-width:1140px;
	margin-left:-570px;
	/*
	background-color:rgba(0,0,0,0.2);
	height:99px;
	border-bottom:1px solid #73858b;
	*/
}
@media screen and (max-width: 1140px) {
	.pageHeader header{
		left:0%;
		margin-left:0;
	}
}
.pageHeader header.white{
	background-color:rgba(255,255,255,0.2);
}
.pageHeader header .logo{
	margin:25px 0 0 98px; /* 25 0 0 98*/
	float:left;
}
@media screen and (max-width: 768px) {
	.pageHeader header .logo{
		margin-left:30px;
	}
}
@media screen and (min-width: 1140px) {
	.pageHeader header .logo{
		margin:25px 0 0 0px; /* 25 0 0 98*/
		float:left;
	}
}


.menuWrapper{
	padding-top:55px;
	height:auto;
	display:block;
}
nav#site-navigation button{display:none;}
nav#site-navigation{margin-left:365px;} /*365px 267*/ 

@media screen and (min-width: 1140px) {
	nav#site-navigation{margin-left:267px;} /*365px 267*/	
}

nav#site-navigation ul#menu-main{}
nav#site-navigation ul#menu-main > li.menu-item{
	display:inline-block;
	float:left;
	width:100px;
}
nav#site-navigation ul#menu-main > li.menu-item-has-children{
	width:140px;
	position:relative;
	z-index:1;
}
/*
nav#site-navigation ul#menu-main > li.menu-item-has-childrenXXX:hover,
nav#site-navigation ul#menu-main > li.menu-item-has-children.open{
	height:120px;
}
*/
@media screen and (max-width: 1024px) {
	nav#site-navigation ul#menu-main > li.menu-item{
		width:80px;
	}
	nav#site-navigation ul#menu-main > li.menu-item-has-children{
		width:100px;
	}
}
nav#site-navigation ul#menu-main > li.menu-item-has-children > a{
	background-image:url('img/submenu.png');
	background-position:right 7px;
	background-repeat:no-repeat;
	display:inline-block;
	padding-right:20px;
	cursor:pointer;
}

nav#site-navigation a{
	color:#fff;
	text-decoration:none;
	font-size:1.4em;
	text-transform:uppercase;
	padding:0 8px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;

}
nav#site-navigation ul#menu-main > li.menu-item > ul.sub-menu{
	position:absolute;
	z-index:100;
	left:-20px;
	top:44px;
	height:0px;
	width:250px;
	padding:0px;
	display:block;
	overflow:hidden;
}
/* html.no-touch nav#site-navigation ul#menu-main > li.menu-item-has-children:hover > ul.sub-menu{height:auto;} */
/*html.touch*/ nav#site-navigation ul#menu-main > li.menu-item-has-children.open > ul.sub-menu{height:auto;}

nav#site-navigation ul#menu-main > li.menu-item > ul.sub-menu >li.menu-item{
	display:block;
	float:none;
	width:100%;
	margin-bottom:1px;
	height:48px;
	display: table;
}

nav#site-navigation ul#menu-main > li.menu-item > ul.sub-menu li.menu-item:first-child{}
nav#site-navigation ul#menu-main > li.menu-item > ul.sub-menu li.menu-item a{
	display: table-cell;
	vertical-align: middle;
	line-height: 1.1em;
	cursor:pointer;
	width:100%;
	text-align:left;
	padding-left:136px;
	box-sizing: border-box;
	background-color:#1c1d22;
}
nav#site-navigation ul#menu-main > li.menu-item > ul.sub-menu >li.menu-item-has-children{padding-bottom:0;}
nav#site-navigation ul#menu-main > li.menu-item > ul.sub-menu >li.menu-item-has-children > ul.sub-menu >li.menu-item{
	padding-top:5px;
	padding-left:10px;
}
nav#site-navigation ul#menu-main > li.menu-item > ul.sub-menu > li.menu-item a {
	padding-left:36px;
	background-image:url('img/caret_individual.png');
	background-position:18px 50%;
	background-repeat:no-repeat;
}
nav#site-navigation ul#menu-main > li.menu-item > ul.sub-menu li.menu-item a:hover {color:#fff;background-color:#109dcb;background-image:url('img/caret_white.png');}

nav#site-navigation .menu-item a:hover,
nav#site-navigation .menu-item-has-children:hover > a{color:#109dcb;}

.pageHeader header nav.secnav{
	margin:0 20px 0 0;
	float:right;
	display:inline-block;
	width:auto;
	color:#666666;
}
nav.secnav a{
	display:inline-block;
	width:auto;
	color:#ffffff;
	text-decoration:none;
	font-size:1.4em;
	padding:0 6px;
	vertical-align:top;
}
nav.secnav a.active{color:#666666;}
nav.secnav a.login,
nav.secnav a.uk{border-right:1px solid #666666;}
nav.secnav a.us{}
nav.secnav a.linkedin{
	margin-left:0px;
	position:relative;
	left:0px;
	top:3px;
}
nav.secnav a.linkedin svg.linkedinwhite{height:32px;width:32px;fill:#fff;position:relative;top:-8px;display:inline-block;}
.ios nav.secnav a.linkedin svg.linkedinwhite,
.dpr2 nav.secnav a.linkedin svg.linkedinwhite{top:-8px;}
nav.secnav a.linkedin.hidpi img{
	width:16px;
	height:16px;
}
.pageHeader #hamburgermenu,
.pageHeader .mobilelogo,
.pageHeader .closeMenu,
.pageHeader nav.footerLinks{display:none;}

@media screen and (max-width: 880px) {
	.pageHeader #hamburgermenu{
		position:absolute;
		right:10px;
		top:28px;
		background-image:url('img/mobilemenu.png');
		background-position: 10px 10px;
		background-repeat:no-repeat;
		text-indent:-9999em;
		overflow:hidden;
		padding:10px;
		width:46px;
		height:39px;
		display:block;
		box-sizing: border-box;
	}
	.pageHeader .menuMover{
		position:absolute;
		top:0;

		right:-320px;
		width:320px;
		right:-100%;
		width:100%;
		
		padding:98px 0px 20px 0px;
		height:auto;
		background-color:#1c1d22;
		background-image:url('img/mobile_menu_bg.png');
		background-position:left top;
		background-repeat:repeat-x;
		-webkit-transition: right 0.3s ease;
		-moz-transition: right 0.3s ease;
		-ms-transition: right 0.3s ease;
		-o-transition: right 0.3s ease;
		transition: right 0.3s ease;
	}
	.pageHeader.mobileOpen .menuMover{
		right:0px;
	}
	nav#site-navigation{
		margin:0;
		width:100%;
		padding:0px 0px 20px 0px;
		border-top:1px solid #73858b;
	}
	nav#site-navigation a{line-height:12px;vertical-align:middle;}
	nav#XXsite-navigation a:before {content: "> ";}

	.pageHeader header nav.secnav{
		float:none;
		margin-left:20px;
	}

	.pageHeader .mobilelogo{
		position:absolute;
		left:20px;
		top:20px;
		display:block;
	}
	.pageHeader .closeMenu{
		display:block;
		position:absolute;
		right:32px;
		top:38px;
		text-indent:-9999em;
		overflow:hidden;
		width:20px;
		height:21px;
		background-image:url('img/mobile_menu_closer.png');
		background-position:left top;
		background-repeat:repeat-x;

	}
	nav#site-navigation a{padding-left:0;}
	nav#site-navigation ul#menu-main li{
		box-sizing: border-box;
		padding:18px 18px 18px 20px;
	}
	nav#site-navigation ul#menu-main > li.menu-item{
		display:block;
		float:none;
		width:100%;
		border-bottom:1px solid #73858b;
	}
	nav#site-navigation ul#menu-main > li.menu-item-has-children{
		width:100%;
	}
	nav#site-navigation ul#menu-main > li.menu-item-has-children:hover{
		height:inherit;
	}
	nav#site-navigation ul#menu-main > li.menu-item-has-children > a{
		background-image:none;
		display:block;
		padding-right:0px;
		line-height:1.2em;
	}
	nav#site-navigation ul#menu-main > li.menu-item > ul.sub-menu{
		position:static;
		z-index:1;
		left:0px;
		top:0px;
		height:auto;
		display:block;
		box-sizing: border-box;
		padding:0;
		
	}
	nav#site-navigation ul#menu-main > li.menu-item:hover > ul.sub-menu{
		padding:0;
	}
	nav#site-navigation ul#menu-main > li.menu-item > ul.sub-menu > li.menu-item,
	nav#site-navigation ul#menu-main > li.menu-item > ul.sub-menu  > li.menu-item > ul.sub-menu > li.menu-item{
		display:block;
		float:none;
		width:100%;
		padding:0;
		border-style:none;
		height:auto;
		background-colour:transparent;
	}
	nav#site-navigation ul#menu-main > li.menu-item > ul.sub-menu  > li.menu-item > ul.sub-menu{display:none;}
	nav#site-navigation ul#menu-main > li.menu-item > ul.sub-menu > li.menu-item a{
		color:#d2d2d3;
		font-size:1.1em;
		line-height:1.3em;
		background-color:transparent;
		padding:5px 10px 5px 24px;		
		background-position:8px 50%;
	}
	.pageHeader nav.footerLinks{display:block;}	
	.pageHeader nav.footerLinks ul.nav-menu{margin:0px 0 20px 0;}
	.pageHeader nav.footerLinks li{padding-left:20px;}
	.pageHeader nav.footerLinks a{
		color:#d2d2d3;
		font-size:1.1em;
		text-decoration:none;
	}
	nav.footerLinks a:before {
	   content: "> ";
	}

}
/* #f7f7f7 247,247,247 */
.fullscreen{width:100%;height:100vh;margin:0;padding:0;display:block;position:relative;z-index:4;left:0px;top:0px; background-color:#f7f7f7;}
/* treat video depending on browser window aspect ration */
.fullscreen .clipper{width:100%;height:100%;overflow:hidden;}
.fullscreen .clipper.video video{position:fixed;width:100%;height:auto;left:0;top:0%;display:block;}
@media screen and (max-aspect-ratio: 16/9) {
	.fullscreen .clipper.video video{position:fixed;height:100%;width:auto;top:0%;left:50%;margin-left:0%;}
}

.pagetop{width:100%;height:100vh;margin:0;padding:0;display:block;position:absolute;left:0;top:0;z-index:6;left:0px;top:0px;}
.pagetop .headerBackground{width:100%;height:100%;position:absolute;z-index:1;left:0px;top:0px;width:100%;background-color:rgba(0,0,0,0.3);height:99px;/*border-bottom:1px solid #73858b;*/}
.pagetop .overlay{width:100%;height:100%;position:absolute;left:0px;top:0px;display: table;text-align: center;}
.pagetop .overlay div{display: table-cell;vertical-align: middle;text-align:center;width:100%;}
.pagetop .overlay div h1{line-height:1em;font-size:10em;color:#fff;font-family:"Poppins", arial;font-weight:700;margin:0 0 16px 0;padding:0;display:block;text-align:center;}
.pagetop .down{position:absolute;z-index:200;left:50%;bottom:20px;width:42px;height:42px;margin-left:-21px;background-image:url('img/down.png');background-repeat:no-repeat;background-position:0 0;cursor:pointer;}
.pagetop .down span{text-indent:-999em;overflow:hidden;display:block;width:42px;height:42px;}

/*.et_pb_fullwidth_header .et-pb-icon.scroll-down {*/
.pagetop .down {	
	animation: fullwidth-header-bounce 2.2s ease-out infinite;
}
@keyframes fullwidth-header-bounce {
  0% { transform:translateY(0%); }
  12.5% { transform:translateY(20%); }
  25% { transform:translateY(0%); }
  37.5% { transform:translateY(20%); }
  50% { transform:translateY(0%); }
}

.pagetop .nuButton{
	border-color: #ffffff;
	border-width: 2px;
	color: #ffffff;
	background-color: transparent;
	outline:0;
}

.pagetop .nuButton .caret{
    background-image: url(img/caret_white.png);
}

.pagetop .nuButton:hover{color:#fff;background-color:#109dcb;border-color:#109dcb;}
.pagetop .nuButton:hover .caret{background-image:url('img/caret_white.png');}

@media screen and (max-width: 1024px) {
	.pagetop .overlay h1{
		font-size:6em !important;
	}
}
@media screen and (max-width: 768px) {
	.pagetop .overlay h1{
		font-size:6em !important;
	}
}
@media screen and (max-width: 640px) {
	.pagetop .overlay h1{
		font-size:4em !important;
	}
}
@media screen and (max-width: 480px) {
	.pagetop .overlay h1{
		font-size:3.8em !important; /*was 3em*/
	}
}

body.home .pageHeader{
	padding-top:0px;
}
@media screen and (max-width: 768px) {
	body.home .pageHeader{
		/*
		background-color:#109dcb;
		padding:99px 0 0 0;
		*/
	}
}


/* page footer */
.site-footer{
	width:100%;
	background-color:#000;
	box-sizing: border-box;	
	/*padding:20px;*/
	overflow:hidden;
	position:relative;
	z-index:10;
}

.site-footer .singleColumn {
	max-width: 1140px;

}

.site-footer .row{
	width:100%;
	float:none;
	clear:both;
}
.site-footer .firstrow{padding-bottom:20px;}
.site-footer p, address{color:#fff;font-size:1em;}
.site-footer h3{color:#fff;margin:0;font-size:1em;}

.site-footer a{
	font-size:1em;
	color:#e0e0e0;
	text-decoration:none;
}
.site-footer div.address,
.site-footer nav.footerLinks,
.site-footer div.declaration{
	
	float:left;
	display:inline-block;
	box-sizing: border-box;
}
.site-footer div.address,
.site-footer nav.footerLinks{width:25%;}
.site-footer div.declaration{width:50%;}
.site-footer nav.secnav{
	margin-top:4px;
	float:right;
	display:inline-block;
	box-sizing: border-box;
}
.site-footer .copyright{color:#999999;}
.site-footer .address h3{color:#e0e0e0;font-size:1.2em;}
.site-footer .address address,
.site-footer .address p{color:#999999;font-size:1.2em;}
.site-footer .address address{margin-bottom:16px;}
.site-footer .address a{color:#e0e0e0;}

.site-footer nav.footerLinks{}
.site-footer nav.footerLinks a{display:block;margin:0 0 5px 0;color:#e0e0e0;font-size:1.2em;}
.site-footer nav.footerLinks a:before {
   content: "> ";
}

.site-footer nav.secnav{text-align:right;color:#e0e0e0;}
.site-footer nav.secnav a{color:#e0e0e0;}
.site-footer nav.secnav a.active{color:#666666;}
.site-footer nav.secnav a.login,
.site-footer nav.secnav a.uk{border-right:1px solid #e0e0e0;}
.site-footer nav.secnav a.linkedin{
}

.site-footer div.declaration p{color:#999999;font-size:1.2em;}
.site-footer div.declaration p.a1{}
.site-footer .logo{
	float:left;
}
@media screen and (max-width: 640px) {
	.site-footer .singleColumn{padding-top:20px;padding-bottom:0;}
	.site-footer div.address,
	.site-footer nav.footerLinks,
	.site-footer div.declaration{
		width:100%;
		float:none;
		display:block;
		box-sizing: border-box;
		margin-bottom:12px;
	}
}
@media screen and (max-width: 320px) {
	.xsite-footer nav.secnav{text-align:left;width:100%;}
}
/* modules */
/* carousel */
.carousel{
	position:relative;
	overflow:hidden;
	width:100%;
	height:505px;
	z-index:1;
}
.carousel > article{
	z-index:5;
	height:403px;
	position:absolute;
	width:100%;
	left:100%;
	box-sizing: border-box;
}
.carousel > article.active{
	left:0%;
}
.carousel .controls{
	position:absolute;
	left:50%;
	margin-left:-100px;
	width:200px;
	text-align:center;
	bottom:60px;
	z-index:10;
}
.carousel .controls a{
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	background-image:url('img/markers.png');
	background-position:0px 0px;
	background-repeat:no-repeat;
}
.carousel .controls a:hover{
	-moz-transform: scale(2, 2);
	-ms-transform: scale(2, 2);
	-o-transform: scale(2, 2);
	-webkit-transform: scale(2, 2);
	transform: scale(2, 2);
}

.carousel .controls a.active{
	background-position:0px -16px;
}
.carousel .controls a > span{
	text-indent:9999em;
	display:block;
}

/* quotes */
.page-template-home .quotes{background-color:#109dcb;}
.single-product .quotes{background-color:#544595;}
.quotes > article{
	background-image:url('img/quotes.png');
	background-position:50% 69px;
	background-repeat:no-repeat;
	padding-top:172px;
	text-align:center;
}
.quotes > article .singleColumn{padding-top:0;padding-bottom:0;}
.quotes > article blockquote{
	color:#fff;
	font-size:2.4em;
	font-weight:300;
	line-height:1.8em;
	padding:0;
	margin:0 0 20px 0;
}
.quotes > article p{
	color:#1c1d22;
	font-size:1.5em;
	line-height:1.2em;
}
@media screen and (max-width: 768px) {
	.quotes > article{
		padding-top:120px;
		background-position:50% 30px;
	}
	.carousel > article blockquote{
		font-size:1.7em;
	}
}

/* common page items */
.intro{text-align:center;}
.intro h2{font-size:4.6em;font-weight:700;letter-spacing: -2px;}
.intro p{font-size:1.8em;font-weight:300;color:#7a7a7a;}
.intro hr{}

@media screen and (max-width: 768px) {
	.intro h2{line-height:1.2em;}
}



/* pages */

/* 
-------------------------------------------------------------------------------------------------------------------------------------
home page
-------------------------------------------------------------------------------------------------------------------------------------
*/

/* intro */


.findoutmore{text-align:center;}
.findoutmore h2{font-size:3.6em;font-weight:700;margin-bottom:30px;color:#1c1d22;letter-spacing: -2px;}
.findoutmore p{font-size:1.6em;font-weight:300;color:#7a7a7a;margin-bottom:40px;}

@media screen and (max-width: 768px) {
	.findoutmore h2 {letter-spacing: -1px; line-height: 1.2em;}
}

/* products */
.homeProductList2{
	padding-top:70px;
	padding-bottom:70px;
}
.homeProductList2 .flexboxContainer{
	max-width:756px;
}
.homeProductList2 header{}
.homeProductList2 header p{
	font-size:1.3em;
	margin:0 0 10px 0;

}
.homeProductList2 header h2{
	font-size:2.8em;
	line-height:1.2em;
	margin:0 0 20px 0;
	min-height:150px;
	border-bottom:1px solid #e0e0e0;
	font-weight:700;
	color:#1c1d22;
}
.homeProductList2 ul{}
.homeProductList2 ul li{margin:0 0 18px 0;}
.homeProductList2 ul li a{text-decoration:none;font-size:1.6em;width:100%;display:inline-block;font-weight:300;}
.homeProductList2 a{padding-right:32px;background-position: right 0px;background-repeat:no-repeat;line-height:17px;}
.homeProductList2 .businessHighlights a{color:#544595;background-image:url('img/quicklink_business.png');}
.homeProductList2 .individualHighlights a{color:#109dcb;background-image:url('img/quicklink_individual.png');}

@media screen and (max-width: 768px) {
	.homeProductList2{
		width:100%;
	}
	.homeProductList2 header h2{
		min-height:inherit;
		padding-bottom:20px;
		font-size:2.6em;
	}
}

/* 
-------------------------------------------------------------------------------------------------------------------------------------
about us page
-------------------------------------------------------------------------------------------------------------------------------------
*/

.aboutPage .intro p.dark{color:#1c1d22;font-weight:500;}
.aboutPage .intro p{margin:0 0 12px 0;}

/* senior team */
.seniorteam{background-color:#f7f7f7;z-index:100;}
.seniorteam .singleColumn{text-align:center;}
.seniorteam .singleColumn h2{font-size:3.6em;font-weight:700;letter-spacing: -2px;}
.seniorteam .singleColumn p{font-size:1.8em;font-weight:300;color:#7a7a7a;}
.seniorteam .singleColumn hr{width:70px;background-color:#109dcb;}
.seniorteam .cubutton{
	padding-top:51px;
	padding-bottom:90px;
}
.seniorteam .cubutton .nuButton{background-color:transparent;}
.seniorteam .cubutton .nuButton:hover{background-color:#109dcb;}
.seniorteam .people{
	width:100%;
	max-width:885px;
	margin:0 auto;
}
.seniorteam .person{
	width:295px;
	display:inline-block;
	float:left;
	padding:0 15px 27px 15px;
}
.seniorteam .interior{
	width:100%;
	box-sizing: border-box;
	background-color:#fff;
	position:relative;
	height:391px;
	overflow:hidden;
}
.seniorteam .clipper{
	width:100%;
	position:relative;
	overflow:hidden;
}
.seniorteam .clipper img{
	width:100%;
	display:block;
	cursor:pointer;
}
.seniorteam .clipper.ap{
	/* padding-top:88.4%; */
	padding-top:234px;
}
.seniorteam .clipper.ap img{
	position:absolute;
}
.seniorteam .interior .slider{
	position:absolute;
	left:0;
	top:234px;
	background-color:#fff;
	width:100%;
	-webkit-transition: top 0.3s ease;
	-moz-transition: top 0.3s ease;
	-ms-transition: top 0.3s ease;
	-o-transition: top 0.3s ease;
	transition: top 0.3s ease;
}
.seniorteam .person.open .interior .slider{
	top:0px;
}
.seniorteam .bio{
	padding:5px;
	text-align:left;
	height:234px;
	width:100%;
	box-sizing: border-box;
	padding:0px 30px 30px 30px;
}

.seniorteam .text{
	height:157px;
	box-sizing: border-box;
	padding:30px 30px 0 30px;
	text-align:left;
	position:relative;
	cursor:pointer;
}
.seniorteam .text .trigger{
	height:85px;
}
.seniorteam .text .marker{
	position:absolute;
	right:30px;
	top:30px;
	z-index:0;
	width:12px;
	height:18px;
	background-image:url('img/submenu.png');
	background-position:left top;
	background-repeat:no-repeat;
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: transform 0.3s ease;
	-moz-transition: transform 0.3s ease;
	-ms-transition: transform 0.3s ease;
	-o-transition: transform 0.3s ease;
	transition: transform 0.3s ease;
}
.seniorteam .person.open .text .marker{
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.seniorteam .text h3{font-size:1.4em;line-height:1.3em;font-weight:bold;}
.seniorteam .text h4{font-size:1.4em;line-height:1.3em;}
.seniorteam .text h5{font-size:1.4em;line-height:1.3em;}
.seniorteam .actions{margin-top:10px;position:relative;left:-4px;}
/*
.seniorteam .actions a{
	display:inline-block;
	width:27px;
	height:26px;
	background-position:left top;
	background-repeat:no-repeat;
	text-indent:-9999em;
	padding:8px;
	box-sizing: border-box;
}
.seniorteam .actions a.email{background-image:url('img/envelope.png');background-position:5px 8px;}
.seniorteam .actions a.linkedin{background-image:url('img/linkedin_blue.png');background-position:5px 5px;}
*/
.seniorteam .actions a{
	border:0;
	outline:none;
}
.seniorteam .actions a svg{display:inline-block;width:32px;height:32px;position:relative;top:-8px;}
.ios .seniorteam .actions a svg,
.dpr2 .seniorteam .actions a svg{top:-8px;}
.seniorteam .actions a svg.email{fill:#fff;}
.seniorteam .actions a svg.email .cls-1, .cls-2 {fill: #109dcb;fill-rule: evenodd;}
.seniorteam .actions a svg.email .cls-2 {stroke: #109dcb;stroke-width: 2px;}
.seniorteam .actions a svg.linkedinblue{fill:#109dcb;fill-rule: evenodd;}

@media screen and (max-width: 885px) {
	.seniorteam .people{width:590px;}
}
@media screen and (max-width: 590px) {
	.seniorteam .people{width:295px;}
	.seniorteam .person{width:295px;}
}


/* awards */
.awards{background-color:#f7f7f7;overflow:hidden;text-align:center;}
.awards h2{
	margin:0px auto 0px auto;
	font-size:3.8em;
	font-weight:700;
	letter-spacing: -2px;
}
.awards .frame{
	display:block;
	max-width:1182px;
	margin:0 auto;
}

.awards .award{
	display:inline-block;
	float:left;
	box-sizing: border-box;
	width:265px;
	margin:0 15px;
	background-color:#fff;
	padding:26px;
}
.awards .award .pictureFrame{
	width:100%;
	height:164px;
	/*border-bottom:1px solid #b7b7b7;*/
}
.awards .award .pictureFrame .clip{
	width:100%;
	height:154px;
	position:relative;
	overflow:hidden;
}
.awards .award .pictureFrame .clip img{
	position:absolute;
}
.awards .award .text{
	height:180px;
	width:100%;
	box-sizing: border-box;
	padding:24px;
	text-align:left;
	display: none;
}
.awards .award h3{font-size:1.5em;}
.awards .award h4{font-size:1.3em;}

.awards .awardPages2{
	position:relative;
	overflow:hidden;
	width:1180px;
	height:496px;
	margin:0 auto;
	padding-top:20px;
}
.awards .awardPages2 .award{
	position:absolute;
	left:0px;
	top:10px;
	/*
	-webkit-transition: left 0.3s ease;
	-moz-transition: left 0.3s ease;
	-ms-transition: left 0.3s ease;
	-o-transition: left 0.3s ease;
	transition: left 0.3s ease;
	*/
}

.awards .awardPages2.awards1{width:295px;}
.awards .awardPages2.awards1 #award0{left:0%;}
.awards .awardPages2.awards2{width:590px;}
.awards .awardPages2.awards2 #award0{left:0%;}
.awards .awardPages2.awards2 #award1{left:50%;}
.awards .awardPages2.awards3{width:885px;}
.awards .awardPages2.awards3 #award0{left:0%;}
.awards .awardPages2.awards3 #award1{left:33.3%;}
.awards .awardPages2.awards3 #award2{left:66.6%;}

@media screen and (max-width: 1180px) {
	.awards .awardPages2{width:885px;}
}
@media screen and (max-width: 885px) {
	.awards .awardPages2{width:590px;}
}
@media screen and (max-width: 590px) {
	.awards .awardPages2{width:295px;}
}

.awards .controls{
	position:absolute;
	left:50%;
	margin-left:-100px;
	width:200px;
	text-align:center;
	bottom:10px;
	z-index:10;
	padding-bottom: 113px;
}
.awards .controls a{
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	background-image:url('img/markers.png');
	background-position:0px -32px;
	background-repeat:no-repeat;
}
.awards .awardPages .controls a:hover{
	-moz-transform: scale(2, 2);
	-ms-transform: scale(2, 2);
	-o-transform: scale(2, 2);
	-webkit-transform: scale(2, 2);
	transform: scale(2, 2);
}
.awards .controls a.active{
	background-position:0px -48px;
}
.awards .controls a > span{
	text-indent:9999em;
	display:block;
}

/* bartlett foundation */
.foundation{padding-bottom:80px;}
.foundation .singleColumn{text-align:center;padding-bottom:30px;}
.foundation .singleColumn h2{font-size:3.6em;font-weight:700;letter-spacing: -2px;}
.foundation .singleColumn p{font-size:1.8em;font-weight:300;color:#7a7a7a;}
.foundation .singleColumn hr{width:70px;background-color:#109dcb;}

.foundationItems{
	margin:0 auto;
	padding-top:0;
	padding-bottom:0;
}
.foundationItems .images,
.foundationItems .captions{
	width:50%;
	float:left;
	display:inline-block;
	box-sizing: border-box;
}
.foundationItems .images{
	padding-bottom:40px;
	position:relative;

}
.foundationItems .images .frame{
	width:100%;
	position:relative;
	overflow:hidden;
	padding-top:54.5%;
}
.foundationItems .images .frame .item{
	position:absolute;
	left:100%;
	top:0;
	width:100%;
}
.foundationItems .images .frame .item.active{
	left:0%;
}
.foundationItems .images .clip img{
	/* 462 x 254 */
	width:100%;
	height:auto;
}

.foundationItems .captions p{font-size:1.4em;margin:0 0 12px 0; color:#7a7a7a;}
.foundationItems .controls{
	position:absolute;
	left:50%;
	margin-left:-100px;
	width:200px;
	text-align:center;
	bottom:10px;
	z-index:10;
}
.foundationItems .controls a{
	display:inline-block;
	width:8px;
	height:8px;
	overflow:hidden;
	border-radius:4px;
	background-color:#b7b7b7;
	vertical-align:middle;
	margin:0 4px;
	cursor:default;
}
.foundationItems .controls a.active{
	width:10px;
	height:10px;
	border-radius:5px;
	margin:0 3px;
}
.foundationItems .controls a > span{
	text-indent:9999em;
	display:block;
}

@media screen and (max-width: 768px) {
	.foundationItems .images,
	.foundationItems .captions{
		width:100%;
		float:none;
		display:block;
	}
	.foundation .singleColumn h2{line-height:1.2em;}
}

/* 
-------------------------------------------------------------------------------------------------------------------------------------
contact us
-------------------------------------------------------------------------------------------------------------------------------------
*/

.contactus .fullscreen .clipper.img{background-position:50% top;background-size:1346px 480px;}
@media screen and (min-width: 1346px) {
	.contactus .fullscreen .clipper.img{background-size:100% auto;}
}

/* offices */
.officeList{
	margin:0 auto;
	border-width:0 0 1px 0;
	border-style:solid;
	border-color:#b7b7b7;
	width:100%;
	max-width:922px;
	padding-bottom:60px;
	margin:0 auto;
	padding-top:0;
}
.officeList .officeItem{
	border-width:1px 0 0 0;
	border-style:solid;
	border-color:#b7b7b7;
}
.officeList .officeItem header{text-align:left;padding:10px 0px;cursor:pointer;}
.officeList .officeItem header h3{text-align:left;font-size:2.4em;color:#1c1d22;display:inline-block;width:auto;font-weight:700;}
.officeList .officeItem header .state{float:right;margin-left:20px;margin-top:6px;}
.officeList .officeItem header .state img{
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: transform 0.3s ease;
	-moz-transition: transform 0.3s ease;
	-ms-transition: transform 0.3s ease;
	-o-transition: transform 0.3s ease;
	transition: transform 0.3s ease;
}
.officeList .officeItem.open header .state img{
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.officeList .officeItem .window{width:100%;height:0px;overflow:hidden;}
.officeList .officeItem.open .window{height:inherit;padding-bottom:20px;}
.officeList .officeItem .window .info{width:100%;height:auto;min-height:auto;display:block;padding:0;}
/*
.officeList .officeItem .window{width:100%;height:0px;overflow:hidden;position:relative;}
.officeList .officeItem .window .info{width:100%;height:auto;min-height:auto;display:block;position:absolute;left:0px;top:0px;}
*/
.officeList .officeItem .mapWrapper{padding-left:0;}
.officeList .officeItem .map{width:100%;/* padding-top:65.2%; */position:relative;opacity:0;height:300px;background-color:#afafaf;}
.officeList .officeItem .text{display:inline-block;float:left;text-align:left;box-sizing: border-box;padding-top:20px;padding-bottom:20px;padding-right:0;}
.officeList .officeItem .text h4{font-size:1.4em;font-weight:700;color:#333333;margin-bottom:10px;}
.officeList .officeItem .text address{font-size:1.3em;color:#333333;margin-bottom:20px;}
.officeList .officeItem .text p.mobile{line-height:18px;color:#252525;margin:0; background-image:url('img/smartphone.png');background-position:left 0px;background-repeat:no-repeat;padding-left:22px;margin-bottom:10px;font-size:1.2em;}
.officeList .officeItem .text p.mobile a{color:#109dcb;text-decoration:none;}
.officeList .officeItem .text p.email{line-height:18px;color:#252525;margin:0; background-image:url('img/envelope.png');background-position:left 3px;background-repeat:no-repeat;padding-left:22px;font-size:1.2em;}
.officeList .officeItem .text p.email a{color:#109dcb;text-decoration:none;}

@media screen and (max-width: 963px) {
	.officeList .officeItem header h3{font-size:1.6em;width:80%;}
	.officeList .officeItem .mapWrapper{width:100%;display:block;float:none;}
	.officeList .officeItem .text{width:100%;display:block;float:none;padding-left:0;}
}

@media screen and (max-width: 963px) {
	.officeList .officeItem .mapWrapper{padding:0;}
}

/* 
-------------------------------------------------------------------------------------------------------------------------------------
product page template
-------------------------------------------------------------------------------------------------------------------------------------
*/

.module.individual02{color:#109dcb;}
.module.bgindividual02{background-color:#109dcb;}
.module.business01{color:#544595;}
.module.bgbusiness01{background-color:#544595;}

.single-product .intro p{margin:0 0 12px 0;font-size:1.4em;line-height:1.9em;}
.single-product .intro p.dark{color:#1c1d22;font-weight:500;font-size:1.8em;line-height:1.9em;}

/* iip private client insurance products */
.iip{padding-bottom:40px;}
.iip .singleColumn{text-align:center;}
.iip .boxWrapper{width: 1180px;margin:0 auto;}
.iip .box{width:265px;height:256px;padding:128px 20px 20px;margin:0 15px;box-sizing: border-box;background-color:#f7f7f7;display:inline-block;float:left;background-repeat:no-repeat;background-position:center 50px;text-align:center;}
.iip h2{font-size:1.8em;}
.iip h3{font-size:1.4em;}
.iip .home{background-image:url('img/home.png');}
.iip .valuables{background-image:url('img/art.png');}
.iip .car{background-image:url('img/car.png');}
.iip .life{background-image:url('img/life.png');}

@media screen and (max-width: 1180px) {
	.iip .boxWrapper{width: 590px;}
	.iip .box{margin-bottom:15px;}
}
@media screen and (max-width: 885px) {
}
@media screen and (max-width: 590px) {
	.iip .boxWrapper{width: 295px;}
}

/* intro */

/* extra */
.extracopy .singleColumn{padding-top:40px;padding-bottom:40px;text-align:center;}
.extracopy .doubleColumn{padding-top:0px;}
.extracopy h2{font-size:3em;margin:0 0 0px 0;font-weight:700;letter-spacing: -2px;}
.extracopy p{color:#666;line-height:1.9em;font-size:1.4em;font-weight:100;margin:0 0 12px 0;}
.extracopy p.large{font-size:1.6em;line-height:1.9em;}
.extracopy ul{	font-size:1.4em;list-style-type: disc;padding-left:20px;color:#666;line-height: 1.9em;}

/* main  */
.maincopy .singleColumn{padding-top:40px;padding-bottom:0;text-align:center;}
.maincopy h2{font-size:3.3em;margin:0 0 30px 0;font-weight:700;letter-spacing: -2px;}
.maincopy .column p{color:#666;line-height:1.9em; /*line-height:18px;line-height:30px*/font-size:1.4em;font-weight:100;margin:0 0 12px 0;}
.maincopy p.large{font-size:1.8em;}
.maincopy .column{text-align:left;}
.maincopy .doubleColumn{padding-top:30px;}
.iBlue.maincopy  p.large{color:#109dcb;}
.bPurple.maincopy  p.large{color:#544595;}
@media screen and (max-width: 768px) {
	.maincopy h2{line-height:1.2em;}
}

/* more */
.morecopy
.morecopy .singleColumn{padding-top:40px;padding-bottom:0;text-align:center;}
.morecopy .column{text-align:left;}
.morecopy h3{font-size:2.4em;margin-bottom:20px;font-weight:700;color:#fff;}
.morecopy p{color:#fff;line-height:1.9em;font-size:1.4em;font-weight:100;margin:0 0 12px 0;}
@media screen and (max-width: 768px) { 
	.morecopy h3.mr{display:none;}
}

/* process */
.process{}
.process .singleColumn{padding-top:40px;padding-bottom:0;text-align:center;}
.process .doubleColumn{padding-top:0px;}
.process .column{text-align:left;}
.process h2{font-size:3.6em;margin:0 0 30px 0;font-weight:700;letter-spacing: -2px;}
.process p{color:#666;line-height:1.9em;font-size:1.4em;font-weight:100;margin:0 0 12px 0;}
.process p.large{font-size:1.8em;}
.iBlue.process  p.large{color:#109dcb;}
.bPurple.process  p.large{color:#544595;}

/* steps */
.steps{padding-bottom:100px;}
.steps .step hr{margin-left:0;margin-right:auto;margin-bottom:40px;width:70px;}
.steps .step h3{font-size:3.6em;font-weight:700;letter-spacing: -2px;}
.steps .step h4{font-size:2.3em;font-weight:700;line-height:1.2em;}
.steps .step p{font-size:1.4em;line-height:1.9em;color:#666;margin:0 0 12px 0;}
.steps .step ul,
.steps .step ol{
	font-size:1.3em;
}
.steps .step ul{
	list-style-type: disc;
	padding-left:20px;
	font-size: 1.4em;
	line-height: 1.9em;
	color:	#666;
}
.steps .step ol{
	list-style-type: decimal;
	padding-left:20px;
}
.steps .step li{
	color:#666;
	margin-bottom:10px;
}

/* case studies */
.caseStudy{padding:26px 0 72px 0;}
.caseStudy .singleColumn{padding-top:0px;padding-bottom:0px;}
.caseStudy .doubleColumn{padding-top:0px;padding-bottom:0px;}
.caseStudy .doubleColumn.picRight .pic{float:right;}
.caseStudy .doubleColumn.picRight .text{float:left;}
.caseStudy .doubleColumn.picLeft .pic{float:left;}
.caseStudy .doubleColumn.picLeft .text{float:right;}

.caseStudy .wrapper > div{display:inline-block;width:50%;text-align:left;}

.caseStudy  *{color:#fff;}
.caseStudy .clipper img{width:100%;height:auto;display:block;}
.caseStudy h3{font-size:1.2em;font-weight:normal;margin:46px 0;text-transform:uppercase;}
.caseStudy h4{font-size:2.3em;font-weight:bold;margin:0 0 20px 0;font-weight:700;}
.caseStudy p{font-size:1.4em;font-weight:300;margin-bottom:12px;}
@media screen and (max-width: 768px) {
	.caseStudy .doubleColumn > div{display:block;width:100%;text-align:left;}
	.caseStudy .clipper img{margin-bottom:20px;}
	.caseStudy .doubleColumn.picRight .pic,
	.caseStudy .doubleColumn.picRight .text,
	.caseStudy .doubleColumn.picLeft .pic,
	.caseStudy .doubleColumn.picLeft .text{float:none;}
}

/* find out more / downloads */
.downloads{padding:100px 0 100px 0;}
.downloads .singleColumn{text-align:center;padding-top:0;padding-bottom:0;}
.downloads .doubleColumn{padding-top:0;padding-bottom:0;}
.downloads .image img{width:100%;height:auto;}
.downloads h2{font-size:3.3em;margin:0 0 24px 0;font-weight:700;line-height:1.1em;letter-spacing: -2px;}
.downloads p{color:#666;line-height:1.9em;font-size:1.4em;font-weight:100;margin:0 0 12px 0;}
.downloads p strong{font-weight:600;}
.downloads .nuButton{text-transform:uppercase;}
.individual .downloads a.email{color:#109dcb;}
.business .downloads a.email{color:#544595;}
@media screen and (max-width: 768px) {
	.downloads .image img{margin-bottom:20px;}
}

/* related products */
.similarProducts{overflow:hidden;padding-bottom:140px;}
.similarProducts h3{line-height:1em;width:auto;margin:50px auto;text-align:center;font-size:3.6em;font-weight:700;letter-spacing: -2px;}
.similarProducts .wrapper{width:1155px;margin:0 auto;}
.similarProducts .item{width:385px;float:left;display:inline-block;box-sizing: border-box;padding:0 12px 14px 12px;}
.similarProducts .clipper{width:361px;height:251px;position:relative;background-color:#000;}
.business .similarProducts .clipper{background-color:#544565;}
.individual .similarProducts .clipper{background-color:#109dcb;}
.similarProducts .clipper img{
	position:absolute;top:0;left:0;
	z-index:1;
	width:361px;height:251px;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	opacity:0.95;
}
.similarProducts .clipper a{
	position:absolute;
	left:0;
	top:0;
	z-index:3;
	width:361px;
	height:251px;
	text-align:center;
	text-decoration:none;
	font-size:3em;
	line-height:1.2em;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	line-height:251px;
	box-sizing: border-box;
	padding:0 10px;	
	cursor:pointer;
	display:table;
}
.similarProducts .clipper a span{
	display:inline-block;
	display:table-cell;
	vertical-align:middle;
	line-height:1.2em;
}
.similarProducts .item:hover .clipper img{
	opacity:0.5;
}
.individualproduct2 .similarProducts .text a{color:#109dcb;}
.businessproduct2 .similarProducts .text a{color:#544595;}
@media screen and (max-width: 1155px) {
	.similarProducts .wrapper{
		width:770px;
	}
	.similarProducts .item{
		margin-bottom:24px;
	}
}
@media screen and (max-width: 770px) {
	.similarProducts .wrapper{width:385px;
	}
}
@media screen and (max-width: 385px) {
	.similarProducts .wrapper{width:100%;}
	.similarProducts .item{width:100%;}
	.similarProducts .clipper a{width:100%;font-size:3em;}
	.similarProducts .clipper{overflow:hidden;width:100%;}
	.similarProducts .clipper img{left:50%;top:50%;margin-left:-180px;margin-top:-126px;}
}
/*
@media screen and (max-width: 320px) {
	.similarProducts .wrapper{width:100%;}
	.similarProducts .item{width:100%;}
	.similarProducts .clipper,
	.similarProducts .clipper a,
	.similarProducts .clipper img{width:296px;height:205px;}
	.similarProducts .clipper img{left:50%;top:50%;margin-left:-148px;margin-top:-104px;}
}
*/
/* 
-------------------------------------------------------------------------------------------------------------------------------------
generic page template
-------------------------------------------------------------------------------------------------------------------------------------
*/
.generic .fullscreen,
.generic .fullscreen .headerBackground{height:100px;}
.generic .fullscreen .headerBackground{background-color:#000;}
.generic .module h1,
.generic .module h2,
.generic .module h3,
.generic .module h4,
.generic .module h5,
.generic .module p,
.generic .module ul,
.generic .module ol,
.generic .module li{margin:0 0 10px 0;}
.generic .module h1{font-size:4em;display:block;text-transform:uppercase;font-weight:700;}
.generic .module h2{font-size:2em;font-weight:700;}
.generic .module h3{font-size:1.8em;font-weight:700;}
.generic .module h4{font-size:1.6em;font-weight:700;}
.generic .module h5{font-size:1.4em;font-weight:700;}
.generic .module p,
.generic .module ul,
.generic .module ol{font-size:1.3em;}
.generic .module ol > li > p{font-size:100%;}
.generic .module ul{list-style-type:disc;padding-left:1.5em;}
.generic .module ol{list-style-type:decimal;padding-left:1.5em;}
.generic .module p a{color:#000;}
.generic .module p a:hover{color:#109dcb;}

.aboutPage .fullscreen{height:680px;}
.contactus .fullscreen{height:480px;}
.genericproduct .fullscreen{height:480px;}

/* IE9 */
.no-flexbox .flexboxContainer{
	width:80%;
	margin:0 auto 0px auto;
}
.no-flexbox .flexboxItem{
	width:50%;
	float:left;
	margin:0;
	padding:0;
	background-color:transparent;
	box-shadow:none;
	/*
	width:50%;
	margin:0 24px;
	display:inline-block;
	float:left;
	box-sizing: border-box;
	padding:32px;
	flex: 1;
	*/
}
.no-flexbox .flexboxItem div.setter{
	margin:5px 24px;
	padding:32px;
	background-color:#fff;
}
.no-flexbox .flexboxItem div.getter{
	margin:0;
	padding:0;
}

@media screen and (max-width: 768px) {
	.no-flexbox .flexboxContainer{
		width:100%;
		display: block;
		margin-bottom:0;
	}
	.no-flexbox .flexboxItem{
		width:80%;
		float:none;
		display: block;
		margin:0 auto 20px auto;
	}
	.no-flexbox .flexboxItem div.setter{}
	.no-flexbox .flexboxItem div.getter{}
}

.normaldpi{display:block;}
.retinadpi{display:none;}
@media
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-moz-min-device-pixel-ratio: 1.5),
screen and (min-device-pixel-ratio: 1.5) {
	.normaldpi{display:none;}
	.retinadpi{display:block;}
}

.fsSubPage{position:relative;z-index:1;height:auto;width:100%;padding:0;}
.fsSubPage .headerBackground,
.fsSubPage .overlay{position:absolute;left:0%;top:0px;width:100%;}
.fsSubPage .headerBackground{z-index:1;background-color:rgba(0,0,0,0.3);height:99px;}
.fsSubPage .overlay{height:100%;z-index:2;}
.fsSubPage .overlay div.table{display:table;height:100%;width:100%;text-align: center;}
.fsSubPage .overlay h1{display: table-cell;vertical-align: middle;line-height: 1em;font-size:9em;color:#fff;font-family:"Poppins", arial;font-weight:700;padding-top:99px;padding-left:5%;padding-right:5%;}

.fsSubPage .clipper{position:relative;z-index:0;width:100%;height:auto;background-repeat:no-repeat;background-attachment:fixed;background-position:center top;background-size:1346px auto;}
/* .fsSubPage .clipper.hidpi{background-size:2692px auto;} */
.single-product .fsSubPage .clipper,
.page-template-contact .fsSubPage .clipper{padding-top:480px;}
.page-template-about .fsSubPage .clipper{padding-top:680px;}

.fsSubPage .clipper2{width:100%;height:auto;position:relative;z-index:0;}
.fsSubPage .clipper2 > div{width:100%;}
.fsSubPage .clipper2 > div > img{width:100%;height:auto;position:fixed;top:0;z-index:0;}


@media screen and (min-width: 1346px) {
	.single-product .fsSubPage .clipper,
	.page-template-contact .fsSubPage .clipper{padding-top:35.66%;background-size:100% auto;}
	.page-template-about .fsSubPage .clipper{padding-top:50.52%;background-size:100% auto;}

	.single-product .fsSubPage .clipper2 > div,
	.page-template-contact .fsSubPage .clipper2 > div{padding-top:35.66%;}
	.page-template-about .fsSubPage .clipper2 > div{padding-top:50.52%;}
}

@media screen and (max-width: 1346px) {
	.fsSubPage .headerBackground{left:0;margin-left:0;}
	.fsSubPage .overlay{left:0;margin-left:0;}

	.single-product .fsSubPage .clipper2.right > div > img{right:0;}
	.single-product .fsSubPage .clipper2.center > div > img{left:50%;margin-left:-673px;}
	.single-product .fsSubPage .clipper2.left > div > img{left:0;}
	.single-product .fsSubPage .clipper2 > div,
	.page-template-contact .fsSubPage .clipper2 > div{padding-top:480px;}
	.page-template-about .fsSubPage .clipper2 > div{padding-top:680px;}

	.page-template-about .fsSubPage .clipper2 > div > img{left:50%;margin-left:-673px;}
	.page-template-contact .fsSubPage .clipper2 > div > img{left:50%;margin-left:-673px;}

	.fsSubPage .clipper2 > div > img{width:1346px;height:auto;}
}
@media screen and (max-width: 1024px) {
	.fsSubPage .overlay h1{font-size:6em !important;}
}
@media screen and (max-width: 768px) {
	.fsSubPage .overlay h1{font-size:6em !important;}
}
@media screen and (max-width: 640px) {
	.fsSubPage .overlay h1{font-size:4em !important;}
}
@media screen and (max-width: 480px) {
	.fsSubPage .overlay h1{font-size:3.8em !important;}
}

/* divider */
.divider{
	width:100%;
	/*
	max-width:1346px;
	margin:0 auto;
	background-size:1346px auto;
	*/
	/* height:510px; */
	padding-top:37.89%;
	background-repeat:no-repeat;
	background-size:100% auto;
}
/* .divider.hidpi{background-size:2692px auto;} */
.divider.center{background-position:50% top;}
.divider.left{background-position:left top;}
.divider.right{background-position:right top;}
@media screen and (min-width: 1346px) {
	.divider{
		padding-top:37.89%;
		height:0;
	}
}
@media screen and (max-width: 1346px) {
	.divider{
		padding-top:0%;
		height:510px;
	}
}

.divider2{
	width:100%;
	padding-top:37.89%;
	position:relative;
	z-index:3;

	background-repeat:no-repeat;
	background-size:100% auto;
	
}
.divider2 div{position:fixed;top:0px;width:100%;z-index:3;}
.divider2 div img{width:100%;height:auto;display:block;}
@media screen and (max-width: 1346px) {
	.divider2{
		padding-top:0%;
		height:510px;
	}
	.divider2 div{}
	.divider2 div img{
		width:1346px;
	}

	.divider2.right{background-position:right top;}
	.divider2.left{background-position:left top;}
	.divider2.center{background-position:center top;}
}

.story{
	background-position: center top;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	min-height:680px;
	width:100%;
	text-align:center;
	padding-top:0px;
	padding-bottom:143px;
}

.story .area1,
.story .area2{position:relative;z-index:50;}
.story .area1{padding-top:117px;padding-bottom:80px;}
.story .area1 h2{color:#fff;font-size:10em;line-height:1em;margin-bottom:0px;font-weight:700;letter-spacing: -2px;}
.story .area2{background-color:#fff;text-align:center;width:948px;margin-left:auto;margin-right:auto;padding-top:70px;padding-bottom:70px;}
.story .area2 h2{font-weight:700;} 
.story .area2 p{font-size:1.4em;margin:0 0 12px 0;color:#7a7a7a;}
.story .area2 p.intro{color:#109dcb;width:100%;max-width:756px;margin:0 auto;padding-bottom:65px;font-weight:400px;font-size:1.8em;}
.story .area2 .doubleColumn{padding-top:0;padding-bottom:0;width:784px;}
.story .area2 .column{text-align:left;box-sizing: border-box;}
.story .area2 .column.image img{width:100%;height:auto;}
/*
.story .area2 .column.image{padding:0;width:365px;}
.story .area2 .column.text{padding:0 0 0 32px;width:419px;}
*/
@media screen and (max-width: 1024px) {
	.story{padding:0 56px 143px 56px;}
	.story .area1{padding-left:0;padding-right:0;}
	.story .area2{width:100%;}
	.story .area2 .doubleColumn{width:100%;}
	.story .area2 p.intro,
	.story .area2 .column.image,
	.story .area2 .column.text{padding:0 56px 14px 56px;width:100%;}
}
@media screen and (max-width: 768px) {
	.story .area1 h2{font-size:8em;}
}
@media screen and (max-width: 480px) {
	.story{padding:0 16px 143px 16px;}
	.story .area2 p.intro,
	.story .area2 .column.image,
	.story .area2 .column.text{padding:0 16px 14px 16px;width:100%;}
	.story .area1 h2{font-size:6em;}
}

.story .bg{position:fixed;left:0px;top:0px;width:100%;z-index:3;}
.story .bg img{}

/* meet the team */
.meettheteam{
	width:100%;
	padding-top:80px;
	padding-bottom:80px;
	position:relative;
	z-index:1;
}
.meettheteam .doubleColumn{position:relative;z-index:4;}
.meettheteam h2{color:#fff;font-size:3.6em;font-weight:700;line-height:1.2em;margin:0 0 30px 0;}
.meettheteam p{color:#fff;font-weight:300;font-size:1.4em;margin:0 0 12px 0;}
.meettheteam p:last-child{margin-bottom:40px;}

.meettheteam .bg{position:fixed;top:0px;/*width:100%;left:0;*/right:0;}
.meettheteam .bg img{width:100%;height:auto;display:block;}

@media screen and (max-width: 768px) {
	.meettheteam .column{text-align:left;}
}

.singleColumn.ios{display:none;}
.singleColumn.notios{display:block;}

html.ios .singleColumn.ios{display:block;}
html.ios .singleColumn.notios{display:none;}

/* disable background-attachment: fixed; and background-size:cover for ios devices because:
a) the background does not fiw to the window, but scrolls with the content
b) background-cover over scales the image, fititng it to the height of the entire document instead of the browser window
*/
html.ios .divider{
	background-attachment: scroll;
}

html.not-ios .meettheteam,
html.not-ios .story,
html.not-ios .divider,
html.not-ios .divider2{
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
html.not-ios .meettheteam{background-position:center top;background-repeat:no-repeat;}
html.not-ios .divider2 div img,
html.not-ios .meettheteam .bg,
html.not-ios .story .bg{display:none;}

html.ios .divider2,
html.ios .meettheteam,
html.ios .story{background-image:none !important;}


@media screen and (orientation: portrait) {
	html.ios .meettheteam div.bg img{height:120vh;width:auto;position:relative;left:20%;}
	html.ios .story div.bg img{height:120vh;width:auto;}
	html.ios .divider2 div img{height:120vh;width:auto;}
}

@media screen and (orientation: landscape) {
	html.ios .divider2 div img{height:auto;width:100%;}
	html.ios .meettheteam div.bg{right:0;}
	html.ios .meettheteam div.bg img{height:120vh;width:auto;position:relative;left:20%;}
}
.divider2 div.a{}
.divider2 div.b{position:relative;}
.divider2.right div.b img{position:absolute;right:0;top:0;}
.divider2.left div.b img{position:absolute;left:0;top:0;}
.divider2.center div.b img{position:absolute;left:50%;margin-left:-50%;top:0;}

.page-template-home .module{z-index:10;}
.page-template-home .fullscreen{z-index:5;}
.page-template-home .meettheteam{z-index:5;}
html.ios .page-template-home .fullscreen .overlay{}
html.ios .page-template-home .fullscreen .down{}

.non nav.secnav a.uk,
.non nav.secnav a.us,
nav.secnav a.login{display:none;}

/* font x 2 START */
/* original font sizes
.intro h2{font-size:4.6em;}
.intro p{font-size:1.8em;}

.findoutmore h2{font-size:3.6em;}
.findoutmore p{font-size:1.6em;}

.homeProductList2 header p{font-size:1.3em;}
.homeProductList2 header h2{font-size:2.8em;}
.homeProductList2 ul li a{font-size:1.6em;}

.seniorteam .singleColumn h2{font-size:3.6em;}
.seniorteam .singleColumn p{font-size:1.8em;}

.seniorteam .text h3{font-size:1.4em;}
.seniorteam .text h4{font-size:1.4em;}
.seniorteam .text h5{font-size:1.4em;}

.awards h2{font-size:3.8em;}
.awards .award h3{font-size:1.5em;}
.awards .award h4{font-size:1.3em;}

.foundation .singleColumn h2{font-size:3.6em;}
.foundation .singleColumn p{font-size:1.8em;}
.foundationItems .captions p{font-size:1.4em;}

.officeList .officeItem header h3{font-size:2.4em;}
.officeList .officeItem .text h4{font-size:1.4em;}
.officeList .officeItem .text address{font-size:1.3em;}
.officeList .officeItem .text p.mobile{font-size:1.2em;}
.officeList .officeItem .text p.email{font-size:1.2em;}

.single-product .intro p{font-size:1.4em;}
.single-product .intro p.dark{font-size:1.8em;}

.iip h2{font-size:1.8em;}
.iip h3{font-size:1.4em;}

.extracopy h2{font-size:3em;}
.extracopy p{font-size:1.4em;}
.extracopy p.large{font-size:1.6em;}
.extracopy ul{font-size:1.4em;}

.maincopy h2{font-size:3.3em;}
.maincopy .column p{font-size:1.4em;}
.maincopy p.large{font-size:1.8em;}

.morecopy h3{font-size:2.4em;}
.morecopy p{font-size:1.4em;}

.process h2{font-size:3.6em;}
.process p{font-size:1.4em;}
.process p.large{font-size:1.8em;}

.steps .step h3{font-size:3.6em;}
.steps .step h4{font-size:2.3em;}
.steps .step p{font-size:1.4em;}
.steps .step ul,
.steps .step ol{font-size:1.3em;}

.caseStudy h3{font-size:1.2em;}
.caseStudy h4{font-size:2.3em;}
.caseStudy p{font-size:1.4em;}

.downloads h2{font-size:3.3em;}
.downloads p{font-size:1.4em;}

.similarProducts h3{font-size:3.6em;}
.similarProducts .clipper a{font-size:3em;}

.generic .module h1{font-size:4em;}
.generic .module h2{font-size:2em;}
.generic .module h3{font-size:1.8em;}
.generic .module h4{font-size:1.6em;}
.generic .module h5{font-size:1.4em;}
.generic .module p,
.generic .module ul,
.generic .module ol{font-size:1.3em;}

.story .area1 h2{font-size:10em;}
.story .area2 p{font-size:1.4em;}
.story .area2 p.intro{font-size:1.8em;}

.meettheteam h2{font-size:3.6em;}
.meettheteam p{font-size:1.4em;}

.site-footer .address p{font-size:1.2em;}
.site-footer nav.footerLinks a{font-size:1.2em;}
.site-footer div.declaration p{font-size:1.2em;}
*/

/* arbitrary 
.intro h2{font-size:9.2em;}
.intro p{font-size:2.2em;}
.meettheteam p{font-size:2.2em;}
.homeProductList2 header p{font-size:2.6em;}
.homeProductList2 ul li a{font-size:1.8em;line-height:1.2em;}
.seniorteam .singleColumn p{font-size:2.2em;}
.story .area2 p{font-size:1.8em;}
.story .area2 p.intro{font-size:2.2em;}
.foundation .singleColumn p{font-size:2.2em;}
.foundationItems .captions p{font-size:1.6em;}
.single-product .intro p{font-size:1.8em;}
.single-product .intro p.dark{font-size:2em;}
.maincopy .column p{font-size:1.6em;}
.morecopy p{font-size:1.6em;}
.process p{font-size:1.6em;}
.steps .step p{font-size:1.6em;}
.steps .step ul,
.steps .step ol{font-size:1.6em;}
.downloads p{font-size:1.6em;}
.extracopy p{font-size:1.6em;}
.extracopy ul{font-size:1.6em;}
*/

/* 103% */

.seniorteam .bio p{font-size:1em;} /* bio font size limited by available space and amount of content */

.site-footer .address p,
.site-footer .address address,
.site-footer nav.footerLinks a,
.site-footer div.declaration p{font-size:1.3em;}

.homeProductList2 header p{font-size:1.4em;}

.generic .module p,
.generic .module ul,
.generic .module ol,
.meettheteam p,
.story .area2 p,
.foundationItems .captions p,
.single-product .intro p,
.maincopy .column p,
.morecopy p,
.process p,
.steps .step p,
.steps .step ul,
.steps .step ol,
.downloads p,
.extracopy p,
.extracopy ul{font-size:1.5em;font-size:1.6em;}

.homeProductList2 ul li a,
.extracopy p.large{font-size:1.7em;}

.intro p,
.seniorteam .singleColumn p,
.story .area2 p.intro,
.foundation .singleColumn p,
.single-product .intro p.dark,
.maincopy p.large,
.process p.large{font-size:1.9em;}

/* END*/
