/*
Theme Name: stackbartlett us
Template: stackbartlett
Theme URI: -
Author: -
Author URI: -
Description: -
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: -
Text Domain: stackbartlett

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

nav.secnav a.uk,
nav.secnav a.us{display:inline-block;}
nav.secnav a.login{display:inline-block;}

.homeProductList2 header h2{
	min-height:90px;
}

.iip .life{display:none;}

@media screen and (min-width: 885px) {
	.iip .boxWrapper{width:885px;}
}
@media screen and (max-width: 885px) {
	.iip .boxWrapper{width: 590px;}
	.iip .box{margin-bottom:15px;}
	.iip .car{margin-left:auto;margin-right:auto;display:block;float:none;clear:both;}
}
@media screen and (max-width: 590px) {
	.iip .boxWrapper{width: 295px;}
}

.bcnShroud,
.bcnOverlay{
	opacity:0;
	display:none;
}

.bcnShroud{
	width:100%;
	height:100vh;
	position:fixed;
	left:0px;
	top:0px;
	z-index:1000;
	background-color:#000;
	opacity:0.5;
}
.bcnOverlay{
	position:fixed;
	left:50%;
	top:50vh;
	margin-left:-281px;
	margin-top:-25vh;
	z-index:1000;
	width:562px;
}
.form{
	background-color:#fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:50px;
	width:100%;
	height:auto;
	position:relative;
}
.form h2{color:#1d1e22;font-size:3em;margin:0;padding:0;font-weight:700;line-height:1em;}
.form hr{width:100%;height:1px;background-color:#e0e0e0;padding:0;margin:20px 0;}
.form a.misc{font-size:1.8em;font-weight:300;color:#109dcb;text-decoration:none;}
.form a.closer{position:absolute;top:50px;right:50px;}
.form .field{}
.form .field label,
.form .field input{display:block;margin:0 0 10px 0;width:100%;	-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.form .field label{color:#1d1e22;font-size:1.8em;font-weight:300;}
.form .field input{background-color:#eeeeee;border-width:1px;border-style:solid;border-color:#d2d2d2;padding:10px;color:#1d1e22;font-size:2.2em;font-weight:300;font-family:"Poppins", arial;}
.form .misc{display:block;}
.form .nb2 input{
	width:148px;
	margin-top:20px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family:"Poppins", arial;
	color:#fff;
	font-weight:300;
	font-size:1.8em;
	text-align:left;
	border-radius:24px;
	border-width:1px;
	border-style:solid;
	border-color:#109dcb;
	background-position:128px 50%;
	background-repeat:no-repeat;
	background-image:url('img/caret_white.png');
	background-color:#109dcb;
	display:table-cell;
	display:block;
	min-height:46px;
	vertical-align:middle;
	padding:10px 0px 10px 20px;
	outline:none;
	cursor:pointer;
}
.form .nb2 input:hover{color:#109dcb;background-color:#fff;background-image:url('img/caret_individual.png');}

.form.error .field label,
.form.error .field input{color:#f00;}
.form.error .field input{border-color:#f00;}

@media screen and (max-width: 640px) {
	.bcnOverlay{
		width:90%;
		left:50%;
		margin-left:-45%;
		top:20px;
		margin-top:0px;
	}
	.form{
		background-color:#fff;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding:20px;
		width:100%;
		height:auto;
		position:relative;
	}
	.form a.closer{position:absolute;top:20px;right:20px;}
	.form h2{font-size:2em;}
	.form hr{margin:10px 0;}
}

@media screen and (max-width: 768px) and (orientation: landscape) {
	.bcnOverlay{
		left:0px;
		top:0px;
		margin-left:0;
		margin-top:0;
		z-index:1000;
		width:100%;
		height:100vh;
	}
	.form{height:100vh;}
	.form h2{padding-right:30px;}
	.form .field label,
	.form .field input{margin:0;}
	.form .field label{font-size:1.8em;}
	.form .field input{padding:2px 10px;font-size:1.8em;}
	.form .nb2 input{margin-top:10px;}
}
